<template>
  <div class='healthy' :style='style'>
    <header class="healthy-header">
      <div class="healthy-logo">
        <div class="healthy-logo__container">
          <span class="healthy-logo__text">HEAL</span>
          <img
            src="./assets/images/logo-plus.svg"
            alt=" "
            class="healthy-header__logo-img"
          />
          <span class="healthy-logo__text">HY</span>
        </div>
      </div>
      <div class="healthy-burger">
        <div class="healthy-burger__container">
          <button id="mobile-button" class="healthy-hamburger healthy-hamburger--spring" type="button">
            <span class="healthy-hamburger-box">
              <span class="healthy-hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
      <div id="drop-menu" class="healthy-menu">
        <nav class="healthy-menu__navigation">
          <ul class="healthy-menu__list">
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link active">Home</a>
            </li>
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link">Men's health</a>
            </li>
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link">Womans health</a>
            </li>
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link">Sexual health</a>
            </li>
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link">Travel health</a>
            </li>
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link">Skin care</a>
            </li>
            <li class="healthy-menu__item">
              <a href="#" class="healthy-menu__link">Medication info</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="healthy-main">
      <article class="healthy-main__container">
        <div class="healthy-glide">
          <div class="healthy-glide__container">
            <div class="healthy-glide-slide">
              <div class="healthy-glide-slide__layer"></div>
              <div class="healthy-glide-slide__inner">
                <h4 class="healthy-glide-slide__title">Headline text</h4>
                <p class="healthy-glide-slide__text">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes,
                  nascetur ridiculus mus
                </p>
                <span class="healthy-glide-slide__dots">[ . . . ]</span>
              </div>
            </div>
          </div>
        </div>
        <section id="model-view-articles" class="healthy-pre-watch">

            <div class="healthy-pre-watch__chapter">
              <h4 class="healthy-pre-watch__title">Woman`s health</h4>
              <healthy-card/>
              <healthy-card/>
            </div>
            <div class="healthy-pre-watch__chapter">
              <h4 class="healthy-pre-watch__title">Travel health</h4>
              <healthy-card/>
              <healthy-card/> 
            </div>
            <div class="healthy-pre-watch__chapter">
              <h4 class="healthy-pre-watch__title">Mans health</h4>
              <healthy-card/>
              <healthy-card/> 
            </div>
            <div class="healthy-pre-watch__chapter">
              <h4 class="healthy-pre-watch__title">Sexual health</h4>
              <healthy-card/>
              <healthy-card/>
            </div>
            <div class="healthy-pre-watch__chapter">
              <h4 class="healthy-pre-watch__title">Skin care</h4>
              <healthy-card/>
              <healthy-card/> 
            </div>

        </section>
        <div class="healthy-is-mobile">
          <section class="healthy-topics">
            <h2 class="healthy-topics__title">TOPICS</h2>
            <a href="#" class="healthy-topics__label">quit smoking</a>
            <a href="#" class="healthy-topics__label">cosmetics</a>
            <a href="#" class="healthy-topics__label">premature ejaculation</a>
            <a href="#" class="healthy-topics__label">weight loss</a>
            <a href="#" class="healthy-topics__label">psoriasis</a>
            <a href="#" class="healthy-topics__label">diabetes</a>
            <a href="#" class="healthy-topics__label">clinics</a>
            <a href="#" class="healthy-topics__label">erectile dysfunction</a>
          </section>
        </div>
      </article>
      <aside class="healthy-aside">
        <div class="healthy-search">
          <h4 class="healthy-search__title">search</h4>
          <input type="text" class="healthy-search__input" placeholder="Search" />
        </div>
        <div class="healthy-signup">
          <h4 class="healthy-signup__title">SIGN UP FOR OUR NEWSLETTER</h4>
          <button id="feedback-form-button" class="healthy-button healthy-button--fluid">
            sign up
          </button>
        </div>
        <div class="healthy-aside__container">
          <h4 class="healthy-aside__title">YOU MAY ALSO LIKE</h4>
          <div id="healthy-aside-model">
            <healthy-card/>
            <healthy-card/>
            <healthy-card/>
            <healthy-card/> 
          </div>
        </div>
        <div class="healthy-is-tablet">
          <section class="healthy-topics">
            <h2 class="healthy-topics__title">TOPICS</h2>
            <a href="#" class="healthy-topics__label">quit smoking</a>
            <a href="#" class="healthy-topics__label">cosmetics</a>
            <a href="#" class="healthy-topics__label">premature ejaculation</a>
            <a href="#" class="healthy-topics__label">weight loss</a>
            <a href="#" class="healthy-topics__label">psoriasis</a>
            <a href="#" class="healthy-topics__label">diabetes</a>
            <a href="#" class="healthy-topics__label">clinics</a>
            <a href="#" class="healthy-topics__label">erectile dysfunction</a>
          </section>
        </div>
      </aside>
    </main>
   <footer class="healthy-footer">
      <div class="healthy-footer__menu">
        <div id="drop-menu" class="healthy-menu">
          <nav class="healthy-menu__navigation">
            <ul class="healthy-menu__list">
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link active">Home</a>
              </li>
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link">Men's health</a>
              </li>
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link">Womans health</a>
              </li>
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link">Sexual health</a>
              </li>
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link">Travel health</a>
              </li>
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link">Skin care</a>
              </li>
              <li class="healthy-menu__item">
                <a href="#" class="healthy-menu__link">Medication info</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import HealthyCard from './components/HealthyCard';
import { mapState, mapGetters } from 'vuex';


export default {
  name: 'Healthy',
  components: {
    HealthyCard,
  },
  computed: {
    ...mapGetters('settings', [
      'style'
    ]),
  }
}
</script>
<style lang="scss" scoped>
@import './scss/style.scss';
</style>
