<template>
 <div class='the-menu' is="sui-menu">
      <div is="sui-menu-item" class='the-menu__logo' header>Generator</div>
      <router-link
        :to='{name: "home"}'
        is="sui-menu-item"
        :active='$route.name === "home"'
        >Themes
      </router-link>
      <router-link
        :to='{name: "about"}' 
        is="sui-menu-item"
        :active='$route.name === "about"'
      >About
      </router-link>
      <div is="sui-menu-menu" position="right">
        <a is="sui-menu-item" class='the-menu__link' @click.prevent='AUTH_LOGOUT'>
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'TheMenu',
  data() {
    return {
      active: 'Home',
      items: ['Home', 'Messages', 'Friends']
    }
  },
  methods: {
    ...mapActions('auth', [
      'AUTH_LOGOUT',
    ]),
    isActive(name) {
      return this.active === name;
    },
    select(name) {
      this.active = name;
    }
  }
};
</script>
<style lang="scss" scoped>
.the-menu {
  position: sticky;
  z-index: 5;
  margin-bottom: 0 !important;
  top: 0;
  &__logo {
    padding: 0 46px !important;
  }
  &__link {
    transition: background-color ease 0.2s;
    i {
      margin-right: 6px;
    }
    &:hover {
      background-color: rgba(0, 153, 255, 0.507) !important;
    }
  }
}
</style>
