@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Literata:400,500,600,700|Montserrat:300,400,500,600,700|Roboto:300,400,500,700|Ubuntu:300,400,500,700&display=swap&subset=cyrillic');

$Roboto: 'Roboto', sans-serif;
$DMSerifDisplay: 'DM Serif Display', serif;
$Literata: 'Literata', serif;
$OpenSans: 'Open Sans', sans-serif;
$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;

@font-face {
	font-family: 'DMSerifDisplay';
	src: url('~@/assets/fonts/DMSerifDisplay-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('~@/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}