<template>
  <div class="healthy-chapter-card">
    <div class="healthy-chapter-card__content-wrapper">
      <div class="healthy-chapter-card__img-wrapper">
        <img
          src="../assets/images/1878410-187841.85570663705611555.318x350.jpg"
          alt="chapter-image"
          class="healthy-chapter-card__img"
        />
      </div>
      <div class="healthy-chapter-card__description">
        <h6 class="healthy-chapter-card__title">Lorem, ipsum dolor.</h6>
        <p class="healthy-chapter-card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="healthy-chapter-card__data">
      <p class="healthy-chapter-card__data-text">12/11/2098</p>
      <p class="healthy-chapter-card__data-search">33</p>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HealthyCard',
}
</script>
<style lang="scss" scoped>
@import '../scss/style.scss';
</style>


