//COLORS:

//NATURALS

$N0: #ffffff;
$N1: #fefefe;
$N2: #ececec;
$N3: #999999;
$N50: #111111;
$N100: #000000;


//SIZE:

@function px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

$base-size: 16px;

$H900: px_to_rem(32px);
$H800: px_to_rem(24px);
$H700: px_to_rem(18px);
$H600: px_to_rem(16px);
$H500: px_to_rem(15px);
$H400: px_to_rem(14px);
$H300: px_to_rem(13px);
$H200: px_to_rem(12px);
$H100: px_to_rem(11px);

//FONTS:

$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet-small: 480px;
$screen-tablet: 768px;
$screen-pc: 800px;
$screen-tablet-large: 860px;
$screen-netbook: 960px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;