<template lang="html">
<sui-dropdown selection :text='String(selectedNumber)'>
  <sui-dropdown-menu>
      <sui-dropdown-item
        v-for='(item, index) in numbers'
        :value='item'
        @click.native='updateNumber(item)'
        :text='String(item)'
        :key='`${item}${index}`'/>
    </sui-dropdown-menu>
  </sui-dropdown>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'ThemeNumbersDropdown',
  methods: {
    ...mapMutations('settings', [
      'updateNumber',
    ]),
  },
  computed: {
    ...mapState('settings', [
      'selectedNumber',
      'numbers'
    ]),
  }
};
</script>