<template lang="html">
  <div class='color-theme'>
    <swatches v-model="color" show-fallback colors="text-advanced"/>
  </div>
</template>

<script>
import Swatches from 'vue-swatches';
import "vue-swatches/dist/vue-swatches.min.css"
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'DropdownExample',
  components: { Swatches },
  data() {
    return {
     
    };
  },
  methods: {
    ...mapMutations('settings', [
      'updateColor',
    ]),
  },
  computed: {
    ...mapState('settings', [
      'selectedColor',
      'colors',
    ]),
    color: {
      get() {
        return `#${this.selectedColor}`;
      },
      set(value) {
        this.updateColor(value);
      }
    }
  }
};
</script>
<style lang="scss">
.color-theme {
  .vue-swatches__trigger {
    border: 1px solid gray;
  }
  .vue-swatches__wrapper {
    margin-bottom: 12px;
  }
  .vue-swatches__container {
    max-height: 100vh !important;
    overflow: visible !important;
    .vue-swatches__fallback__input--wrapper {
      width: 50% !important;
    }
    .vue-swatches__fallback__wrapper {
      display: flex;
      justify-content: space-between;
    }
    .vue-swatches__fallback__button {
      padding: 6px 22px;
    }
    .vue-swatches__row {
      height: 24px;
    }
  }
}
</style>

