<template lang="html">
<sui-dropdown selection :text='selectedValue'>
  <sui-dropdown-menu>
      <sui-dropdown-item
        v-for='item in fonts'
        :value='item.value'
        :style='{fontFamily: item.value }'
        @click.native='updateFont(item.value)'
        :text='item.text'
        :key='item.key'/>
    </sui-dropdown-menu>
  </sui-dropdown>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'ThemeFontsDropdown',
  methods: {
    ...mapMutations('settings', [
      'updateFont',
    ]),
  },
  computed: {
    ...mapState('settings', [
      'selectedFont',
      'fonts',
    ]),
    selectedValue: {
      get() {
        return this.selectedFont;
      },
      set(value) {
        this.updateFont(value);
      }
    }
  }
};
</script>