@font-face {
	font-family: 'GothamPro';
	src: url('#{$font-path}/GothamPro.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('#{$font-path}/GothamPro-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('#{$font-path}/GothamPro-Bold.ttf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro - Black';
	src: url('#{$font-path}/ofont.ru_Gotham Pro.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}