<template>
 <div class="about">
    <sui-container fluid>
      <h2 is="sui-header">Generator</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, praesentium quasi. Tenetur corporis maxime a, architecto laudantium minus id iusto voluptatum consequatur!
      </p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magni illo expedita, accusamus voluptates recusandae commodi ratione libero sed amet repellendus ut?
      </p>
    </sui-container>
  </div>
</template>
<style lang="scss">
.about {
  padding: 32px;
}
</style>

