<template>
  <div class="home">
    <theme-grid/>
  </div>
</template>

<script>
import ThemeGrid from '../components/home/ThemeGrid';
import { mapActions } from 'vuex';

export default {
  name: 'home',
  components: {
    ThemeGrid,
  },
  methods: {
    ...mapActions('themes', [
      'getThemes'
    ])
  },
  created() {
    this.getThemes();
  }
}
</script>
