<template lang="html">
  <div class="background">
    <sui-grid centered vertical-align="middle">
      <sui-grid-column>
        <sui-message
          v-if='error'
          color='orange'
          header="Something wrong"
          content="
            Email or password doesn't match
          "
        />
        <h2 is="sui-header" color="blue">
          <sui-header-content>Log-in to your account</sui-header-content>
        </h2>

        <sui-form>
          <sui-segment stacked>
            <sui-form-field>
              <sui-input
              type="email"
              placeholder="E-mail address"
              v-model='email'
              icon="user"
              icon-position="left" />
            </sui-form-field>
            <sui-form-field>
              <sui-input
              type="password"
              placeholder="Password"
              v-model='password'
              icon="lock"
              icon-position="left" />
            </sui-form-field>
            <sui-button size="large" :loading='loading' color="blue" @click.native.prevent='login' fluid>Login</sui-button>
          </sui-segment>
        </sui-form>
        <sui-message>New to us? <a href="#">Sign Up</a></sui-message>
      </sui-grid-column>
    </sui-grid>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Login',
  data() {
    return {
      email: 'admin@admin.com',
      password: 'password',
      error: false,
      loading: false,
    }
  },
  methods: {
    ...mapActions('auth', [
      'AUTH_REQUEST',
    ]),
    async login() {
      this.loading = true;
      try {
        await this.AUTH_REQUEST({email: this.email, password: this.password});
        this.loading = false;
        this.$router.push({name: 'home'});
      } catch(e) {
        this.error = true;
        this.loading = false;
      }
      
    }
  }
};
</script>

<style lang="css" scoped>
  .background {
    background-color: #DADADA !important;
    height: 100vh;
  }
  .grid {
    height: 100%;
  }
  .column {
    max-width: 450px;
    text-align: center !important;
  }
</style>