<template>
  <div class='theme'>
    <theme-view/>
    
  </div>
</template>
<script>
import ThemeView from '@/components/theme/ThemeView';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Theme',
  components: {
    ThemeView,
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    ...mapActions('themes', [
      'getTheme',
    ])
  },
  created() {
    this.getTheme(this.$route.params.name);
  }
}
</script>
<style lang="scss">
.theme {
  display: flex;
  flex: 1 1;
}
</style>


