@charset "UTF-8";

$HHamburger-padding-x : 0 !default;
$HHamburger-padding-y : 0 !default;
$HHamburger-layer-width : 30px !default;
$HHamburger-layer-height : 2px !default;
$HHamburger-layer-spacing : 7px !default;
$HHamburger-layer-color : $N0 !default;
$HHamburger-layer-border-radius : 0px !default;
$HHamburger-hover-opacity : .9 !default;
$HHamburger-active-layer-color : $HHamburger-layer-color !default;
$HHamburger-active-hover-opacity: $HHamburger-hover-opacity !default;
$HHamburger-hover-use-filter : false !default;
$HHamburger-hover-filter : opacity(50%) !default;
$HHamburger-active-hover-filter: $HHamburger-hover-filter !default;

$HHamburger-types: (spring,
) !default;

@if index($HHamburger-types, spring) {
  .#{$theme}-hamburger--spring {
    .#{$theme}-hamburger-inner {
      top: $HHamburger-layer-height / 2;
      transition: background-color 0s 0.13s linear;

      &::before {
        top: $HHamburger-layer-height + $HHamburger-layer-spacing;
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
          transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }

      &::after {
        top: ($HHamburger-layer-height * 2) + ($HHamburger-layer-spacing * 2);
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
          transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.#{$theme}-is-active {
      .#{$theme}-hamburger-inner {
        transition-delay: 0.22s;
        background-color: transparent !important;

        &::before {
          top: 0;
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
            transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, $HHamburger-layer-spacing + $HHamburger-layer-height, 0) rotate(45deg);
        }

        &::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
            transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, $HHamburger-layer-spacing + $HHamburger-layer-height, 0) rotate(-45deg);
        }
      }
    }
  }
}


.#{$theme}-hamburger {
  padding: $HHamburger-padding-y $HHamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $HHamburger-hover-use-filter==true {
      filter: $HHamburger-hover-filter;
    }

    @else {
      opacity: $HHamburger-hover-opacity;
    }
  }

  &.#{$theme}-is-active {
    &:hover {
      @if $HHamburger-hover-use-filter==true {
        filter: $HHamburger-active-hover-filter;
      }

      @else {
        opacity: $HHamburger-active-hover-opacity;
      }
    }

    .#{$theme}-hamburger-inner,
    .#{$theme}-hamburger-inner::before,
    .#{$theme}-hamburger-inner::after {
      background-color: $HHamburger-active-layer-color;
    }
  }
}

.#{$theme}-hamburger-box {
  width: $HHamburger-layer-width;
  height: $HHamburger-layer-height * 3 + $HHamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.#{$theme}-hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $HHamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $HHamburger-layer-width;
    height: $HHamburger-layer-height;
    background-color: $HHamburger-layer-color;
    border-radius: $HHamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($HHamburger-layer-spacing + $HHamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($HHamburger-layer-spacing + $HHamburger-layer-height) * -1;
  }
}

.#{$theme}-hamburger {
  outline: none;

  @include media($screen-desktop) {
    display: none;
  }
}

.#{$theme}-burger {
  background-color: var(--bg-color, #009cbd);
  padding: 29px 0;
  @include media($screen-desktop) {
    display: none;
  }

  &__container {
    padding: 0 24px;

    @include container;
  }
}