.#{$theme}-button {
  padding: 15px 54px;
  background-color: $R1;
  border-radius: 3px;
  font-size: 1.125rem;
  color: $N0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  @include transition(background-color);
  @include media {
    &:hover {
      background-color: lighten($R1, 5%);
    }
  }
  &:active {
    background-color: darken($R1, 3%);
  }
  &--fluid {
    width: 100%;
  }
}