.#{$theme}-chapter-card {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &__content-wrapper {
    @include flex-row(space-between, stretch);
    @include media {
      margin-bottom: 8px;
    }
  }

  &__img-wrapper {
  @include padding-hack(29.6%);
  flex-basis: 50%;
  }

  &__description {
    @include flex-col;
    flex-basis: 45%;
  }

  &__title {
    @include text($base-size, 500, $N4);
    margin-bottom: 8px;
  }

  &__text {
    @include text($HH140, 400, $N4);
  }
  
  &__data {
    display: none;
    @include media {
      @include flex-row(flex-start, center);
      font-size: healthy-px_to_rem(12px);
      // @include text($H120, 400, $N3);
    }
  }
}