* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.#{$theme} {
  min-height: 100vh;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-family: 'Gotham Pro';
  align-items: stretch;
  @include media($screen-desktop) {
    align-items: center;
  }
}
.#{$theme} {
  *, p, span, textarea, button, a {
    font-family: var(--base-font, inherit);
  }
}
#{$theme} a {
  display: block;
  text-decoration: none;
}

#{$theme} ul {
  list-style: none;
}

.#{$theme}-container {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.#{$theme}-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.#{$theme}-aside-wrapper {
  padding: 32px 0;
}
.#{$theme}-is-mobile {
  @include media {
    display: none;
  }
}
.#{$theme}-is-tablet {
  display: none;
  @include media {
    display: block;
  }
}
.#{$theme}-is-desktop {
  display: none;
  @include media($screen-desktop) {
    display: block;
  }
}