.#{$theme}-footer {
  min-height: 80px;
  background-color: var(--bg-color, #009cbd);
  width: 100%;

  &__menu {
    display: none;
    @include media($screen-desktop) {
      display: block;
    }
    margin: 0 auto;
  }
}