.#{$theme}-form {
  @include flex-col(flex-start, stretch);
  @include media {
    padding-right: 32px;
  }
  &__label {
    @include flex-col(flex-start, stretch);
    margin-bottom: 20px;
  }
  &__name {
    @include text(16px, 400, $N4);
    margin-bottom: 12px;
    @include media {
      font-size: $HH120;
    }
  }
  &__input {
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--bg-color, #009cbd);
    height: 40px;
    width: 100%;
    padding: 0 12px;
    &--textarea {
      padding: 12px;
      min-height: 156px;
      resize: vertical;
    }
  }
}