.#{$theme}-glide-slide {
  padding: 150px 40px 60px;
  background: url(#{$img-path}/bg-card.jpg) no-repeat;
  background-size: cover;
  position: relative;

  @include media {
    background: url(#{$img-path}/bg-card-tab.jpg) no-repeat;
    background-size: cover;
  }

  &__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(#{$img-path}/bg-2.png);
    z-index: 0;
  }

  &__inner {
    position: relative;
    z-index: 1;
    text-align: left;
  }

  &__title {
    @include text($HH180, 700, $N0);
    margin-bottom: 8px;
    z-index: 2;
    text-align: left;
  }

  &__text {
    @include text($HH140);
    white-space: normal;
    text-align: left;
  }

  &__dots {
    @include text($HH140);
    text-align: left;
  }
}