.#{$theme}-glide {
  padding: 32px 0 40px;

  &__bullets {
    bottom: 70px;
    left: auto;
    right: 0;
  }
  
  &__bullet--active {
    background-color: var(--lighten-bg-color, #00aed3);
  }

  .#{$theme}-glide__bullet:hover,
  .#{$theme}-glide__bullet:focus {
    border: none;
    background-color: var(--lighten-bg-color, #00aed3);
  }
}