.#{$theme}-logo {
  padding: 30px 0 24px;

  &__container {
    padding: 0 16px;
    text-align: left;

    @include container;
    margin: 0 auto;
  }

  &__text {
    @include text(36px, 700, $R1);
    font-family: $logo-font !important;
  }
}