.#{$theme}-main {
  flex: 1 1;
  padding: 40px 16px;
  @include flex-col(flex-start, stretch);
  @include media {
    flex-direction: row;
  }
  @include container;
  &__title {
    @include text($HH180, 700, $N4);
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  &__container {
    @include media {
      flex: 0 0 68%;
      max-width: 68%;
      padding-right: 25px;
    }
    @include media($screen-desktop) {
      padding-right: 30px;
    }
  }
}
