.slideInDown.animated,
.slideOutUp.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.#{$theme}-menu {
  padding: 30px 0 40px;
  background-color: var(--bg-color, #009cbd);
  visibility: hidden;
  right: 0;
  left: 0;
  z-index: 10;
  transform-origin: 0 0;
  position: absolute;
  @include media($screen-desktop) {
    margin: auto;
    position: static;
    transform-origin: unset;
    visibility: visible;
    background-color: var(--bg-color, #009cbd);
    padding: 0;
  }

  &__navigation {
    @include container;
  }

  &__list {
    @include media($screen-desktop) {
      @include flex-row(flex-start, stretch);
    }
  }
  &__item {
    margin-bottom: 20px;
    @include flex-row(center, stretch);

    &:last-child {
      margin-bottom: 0;
    }

    @include media($screen-desktop) {
      margin: 0;
    }
  }

  &__link {
    white-space: nowrap;
    @include text($HH120, 600, $N0);

    @include media($screen-desktop) {
      font-size: $HH140;
      padding: 30px 20px 40px;
      @include  transition(color, background-color);
      
      &:hover {
        color: darken($N0, 10%);
        background-color: var(--lighten-bg-color, #00aed3);
      }
    }
    @include media($screen-hd) {
      font-size: $HH180;
    }
  }

  & .#{$theme}-active {
    @include media($screen-desktop) {
      background-color: var(--lighten-bg-color, #00aed3);
    }
  }
}