@mixin flex-row($justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-col($justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin text($size, $weight: 400, $color: white) {
  font: {
    size: $size;
    weight: $weight;
  }
  color: $color;
}
@mixin size($size, $round: false) {
  width: $size;
  height: $size;
  @if $round {
    border-radius: 50%;
  }
  @content;
}



@mixin svg($size: 16px, $color: black) {
  width: $size;
  height: $size;
  fill: $color;
  transition-property: fill, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  @content;
}

@mixin transition($types...) {
  transition-property: $types;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  @content;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin padding-hack($padding, $object-fit: cover) {
  position: relative;
  padding-top: $padding;
  width: 100%;
  @content;

  & > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: $object-fit;
  }
}
@mixin media($screen: $screen-tablet) {
  @media screen and (min-width: $screen) {
    @content;
  }
}

@mixin container($max-size: 1440px) {
  max-width: 100%;
  padding: {
    right: 24px;
    left: 24px;
  }
  @include media {
    padding: {
      right: 4%;
      left: 4%;
    }
  }
  @include media($screen-fullhd) {
    padding: {
      right: 6%;
      left: 6%;
    }
  }
  @include media($screen-retina) {
    padding: {
      right: 0;
      left: 0;
    }
    max-width: $max-size;
  }
  @content;
}