.#{$theme}-pre-watch {
  padding: 0 0 40px;
  @include media($screen-desktop) {
    @include flex-row(space-between, flex-start);
    flex-wrap: wrap;
  }

  &__chapter {
    margin: 0 0 40px;
    @include media($screen-desktop) {
     flex-basis: 47%;
     max-width: 47%;
  }
}

  &__title {
    @include text($HH180, 700, var(--darken-bg-color, #00aed3));
    margin-bottom: 30px;
    text-align: left;
  }
}