.#{$theme}-search {
  width: 100%;
  padding-bottom: 30px;

  &__title {
    @include text($HH180, 500, $N4);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__input {
    padding: 0 24px;
    height: 60px;
    width: 100%;
    border: 7px solid var(--lighten-bg-color, #00aed3);
  }
}