.#{$theme}-signup {
  padding-bottom: 40px;
  text-transform: uppercase;

  &__title {
    @include text($HH180, 500, $N4);
    margin-bottom: 20px;
  }

  &__btn {
    .#{$theme}-button {
      width: 100%;
    }
  }
}