.#{$theme}-topics {
  padding: 0 0 50px;

  &__title {
    @include text($HH180, 500, $N4);
    margin-bottom: 20px;
  }

  &__label {
    border-radius: 3px;
    background-color: var(--bg-color, #009cbd);
    padding: 8px 16px;
    display: inline-block;
    @include text($HH140, 500, $N0);
    margin: 0 10px 10px 0;
  }
}