//COLORS:

//NATURALS

$N0: #ffffff;
$N1: #fefefe;
$N2: #ececec;
$N3: #999999;
$N4: #111111;
$N100: #000000;

//BLUE

$B1: #00aed3;
$B2: #009cbd;
$B3: #003ada;

//RED

$R1: #cd1d00;

// Custom

//SIZE:
$base-size: var(--base-size);
@function healthy-px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

@mixin toRem($px: 16px) {
	font-size: healthy-px_to_rem($px, var(--base-size));
}

$HH300: calc(var(--base-size) * 2.25);

$HH250: calc(var(--base-size) * 1.5);
$HH200: calc(var(--base-size) * 1.3);

$HH180: calc(var(--base-size) * 1.12);
$HH140: calc(var(--base-size) / 1.14);
$HH120: calc(var(--base-size) / 1.3);


// IMPORT FONTS:



//FONTS:

$main-font: 'Gotham Pro', sans-serif;
$logo-font: 'Gotham Pro - Black', sans-serif;


//img-path

$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet-small: 480px;
$screen-tablet: 768px;
$screen-pc: 800px;
$screen-tablet-large: 860px;
$screen-netbook: 960px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;