<template>
  <sui-card class="theme-card">
    <sui-image :src="theme.image" />
    <sui-card-content>
      <sui-card-header>{{theme.label}}</sui-card-header>
    </sui-card-content>
  </sui-card>
</template>
<script>
export default {
  name: 'ThemeCard',
  props: {
    theme: {
      type: Object,
      required: true,
    }  
  }
}
</script>
<style lang="scss">
.theme-card {
  margin: 16px !important;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3); 
  }
}
</style>
