<template>
  <div class='theme-grid'>
    <theme-card
      v-for='theme in themes'
      @click.native='openTheme(theme.name)'
      :key='theme.id'
      :theme='theme'/>
  </div>
</template>
<script>
import ThemeCard from './ThemeCard';
import { mapState } from 'vuex';

export default {
  name: 'ThemeGrid',
  components: {
    ThemeCard,
  },
  computed: {
    ...mapState('themes', {
      themes: state => state.themes
    })
  },
  methods: {
    openTheme(name) {
      this.$router.push({ name: 'theme', params: { name } })
    }
  }
}
</script>
<style lang="scss">
.theme-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 6%;
}
</style>

