@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Lato:300,400,700|Literata:400,500,600,700|Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700|Roboto:300,400,500,700|Ubuntu:300,400,500,700&display=swap&subset=cyrillic');

@font-face {
  font-family: 'DMSerifDisplay';
	src: local('DMSerifDisplay'), local('DM Serif Display');
}

@font-face {
	font-family: OpenSans;
	src: local('Open Sans'), local('OpenSans');
}