<template>
    <vue-glide type='carousel' :perView='5'>
      <vue-glide-slide v-for="(image, index) in theme.images" :key="index">
        <sui-image size="small" class='theme-slider__slide' :src="image"/>
      </vue-glide-slide>
      <template slot="control">
        <button data-glide-dir="<" class='theme-slider__button'><i class="fas fa-arrow-left"></i></button>
        <button data-glide-dir=">" class='theme-slider__button'><i class="fas fa-arrow-right"></i></button>
      </template>
    </vue-glide>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import { Glide, GlideSlide } from 'vue-glide-js';

export default {
  name: 'ThemeSlider',
  components: {
    [Glide.name]: Glide,
    [GlideSlide.name]: GlideSlide
  },
  computed: {
  ...mapState('themes', [
    'theme',
  ])
},
}
</script>
<style lang="scss">
.theme-slider {
  &__slide {
    height: 260px !important;
    width: auto;
    overflow: hidden !important;
    object-fit: cover;
    object-position: top;
  }
  &__button {
    margin: 6px 22px;
    padding: 12px 32px;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow ease 0.2s;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    &:focus {
      border: none;
    }
    &:active {
     box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
</style>
