<template>
<div class='theme-settings'>
  <div class='theme-settings__inner'>
    <sui-form class='theme-settings__form'>
      <sui-form-field>
        <label class='colorrr'>Color</label>
        <theme-colors-dropdown class='theme-settings__input'/>
      </sui-form-field>
      <sui-form-field>
        <label>Font</label>
        <theme-fonts-dropdown class='theme-settings__input'/>
      </sui-form-field>
      <sui-form-field>
        <label>Base font Size</label>
        <input class='theme-settings__input' type='number' min="1" max='200' step="0.5" v-model='fontSize' placeholder="First Name" >
      </sui-form-field>
      <sui-form-field>
        <label>Number of articles</label>
        <theme-numbers-dropdown class='theme-settings__input theme-settings__input--small'/>
      </sui-form-field>
      <sui-button
        @click.prevent='generateSite'
        class='theme-settings__button'
        :loading='loading'
        color="green">Generate
      </sui-button>
    </sui-form>
  </div>
</div>
</template>
<script>
import ThemeColorsDropdown from './components/ThemeColorsDropdown';
import ThemeFontsDropdown from './components/ThemeFontsDropdown';
import ThemeNumbersDropdown from './components/ThemeNumbersDropdown';
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';

export default {
  name: 'ThemeSettings',
  components: {
    ThemeColorsDropdown,
    ThemeFontsDropdown,
    ThemeNumbersDropdown,
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    ...mapMutations('settings', [
      'updateFontSize',
    ]),
    ...mapActions('settings', [
      'GENERATE'
    ]),
    async generateSite() {
      this.loading = true;
      this.$message.loading('Wait 3-8 minutes until the theme is generated....');
      try {
        const data = await this.GENERATE(this.$route.params.name);
        this.loading = false;
        this.$message.closeAll();
        this.$message.success(data.message);
        return
      } catch (e) {
        this.$message.closeAll();
        this.loading = false;
        this.$message.error(e.message);
        return
      }
    }
  },
  computed: {
    ...mapState('settings', [
      'selectedFontSize',
    ]),
    ...mapGetters('settings', [
      'disabledGenerate',
    ]),
    fontSize: {
      get() {
        return this.selectedFontSize;
      },
      set(value) {
        this.updateFontSize(value);
        this.$emit('update');
      }
    }
  }
}
</script>
<style lang="scss">
.theme-settings {
  width: 300px;
  background-color: whitesmoke;
  box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.2);
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  padding: 24px 24px 42px 24px;
  &__inner {
    position: relative;
  }
  &__form {
    text-align: left;
  }
  &__input {
    width: fit-content !important;
    border-color: grey !important;
    &--small{
      min-width: 80px !important;
      width: 80px !important;
    }
  }
  &__button {
    margin: 24px 0 0 0 !important;
  }
}
</style>

