<template>
<div class='theme-view'>
  <component :is="currentComponent"></component>
  <theme-settings/>
</div>
</template>
<script>
import ThemeSettings from '@/components/theme/ThemeSettings';
import Healthy from './themes/healthy/Healthy';
import ThemeSlider from './ThemeSlider';
import { mapActions, mapState } from 'vuex';
import { setTimeout } from 'timers';

export default {
  name: 'ThemeView',
  components: {
    Healthy,
    ThemeSettings,
  },
  data() {
    return {
      currentComponent: 'healthy',
      rerendered: true,
    }
  },
  computed: {
    ...mapState('themes', [
      'theme',
    ])
  },
}
</script>
<style lang="scss">
.theme-view {
  position: relative;
  padding: 0;
  width: 100%;
}
</style>


