<template>
  <div id="app">
    <the-menu v-if='isAuth'/>
    <sui-dimmer :active='loading' inverted>
      <sui-loader>Loading</sui-loader>
    </sui-dimmer>
    <transition name="fade" mode="out-in" appear>
      <router-view/>
    </transition>
  </div>
</template>
<script>
import TheMenu from './components/menu/TheMenu';
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'App',
  components: {
    TheMenu,
  },
  computed: {
    ...mapState({
      loading: state => state.themes.loading,
    }),
    ...mapGetters('auth', [
      'isAuth'
    ])
  }
}
</script>

<style lang="scss">
.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
